/* App.css or a relevant CSS file */
.app {
  display: flex;
  flex-direction: column; /* Stack header on top and container below */
  height: 100%;
}

header {
  flex-shrink: 0; /* Prevent header from shrinking */
}

.container-comp {
  flex: 1; /* Allow container to take remaining space */
  display: flex;
  flex-direction: row;
  margin: 23px;
  overflow: hidden;
  padding-top: 20px; 
  height: 100%;/* Adjust if needed to ensure proper spacing from the header */
}
