

.dashboard {
  width: 100%;
  
  text-align: center;
  padding: 20px;
  background-color: #2b3244;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  
  opacity: 0.8;
}


.dashboard-box {
  padding: 20px;
  margin-top: 20px;
}

.dashboard-box h2 {
  color: #f7faf7;
  padding-bottom: 20px;
  font-size: 32px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.close-all-button {
  color: white;
  margin: 10px auto; 
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 60px;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
}

.close-all-button.red {
  background-color: #f00;
}

.close-all-button.green {
  background-color: #4caf50;
}

.close-all-button:hover {
  filter: brightness(90%);
}


.protection-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-bottom: 20px;
  gap: 20px;
}


.protection-card {
  background-color: #c7ccd8;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 250px; 
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.protection-card:hover {
  transform: scale(1.05);
}

.protection-card .title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.protection-card .status {
  margin-top: 5px;
  color: #4caf50;
}

.protection-card .icon {
  font-size: 40px;
  margin-bottom: 10px;
}


.scan-status {
  margin-top: 20px;
  font-size: 14px;
  padding: 15px;
}

.scan-status p {
  margin: 5px 0;
}

.scan-status p:first-child {
  color: #f0f5f0;
}

.scan-status p:last-child {
  color: #faf6f6;
}
.dashboard-links p{
  color: white;
}


.dashboard-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
  gap: 215px;
}

.icons-container {
  display: flex;
  gap: 10px;
}

.dashboard-icon {
  width: 50px;
    height: 50px;
}


.block-button {
  padding: 5px 10px;
  border: none;
  background-color: #f00;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 50px;
  height: 31px;
}

.block-button:hover {
  background-color: greenyellow;
}


.close-all-button {
  background-color: #f00;
  color: white;
  margin: 10px auto; 
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 23px;
  cursor: pointer;
  display: block; 
  transition: background-color 0.3s ease;
}

/* .close-all-button:hover {
  background-color: green;
} */


@media (max-width: 768px) {
  h2 {
      font-size: 28px;
  }

  .protection-card {
      width: 100%;
      max-width: 100%;
  }

  .block-button {
      font-size: 14px; 
  }

  .close-all-button {
      font-size: 16px;
      padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .dashboard {
      width: 95%;
      padding: 10px;
  }

  h2 {
      font-size: 24px;
  }

  .close-all-button {
      font-size: 14px;
      padding: 6px 10px;
  }

  .block-button {
      font-size: 12px;
  }
}
