/* src/App.css */
/* body {
    
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fbfbfe;
    color: #080808; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .dashboard {
    text-align: center;
    padding: 30px;
    background-color: #2b3244;
    border-radius: 10px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
  }
  .dashboard-box{
    padding: 40px;
    margin-top: 30px;
  }
  
  h2 {
    color: #4caf50;
    padding-bottom: 40px;
    font-size: 40px;
  }
  
  .protection-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 50px;
  }
  
  .protection-card {
    background-color: #c7ccd8;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .protection-card:hover {
    transform: scale(1.05);
  }
  
  .protection-card .title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .protection-card .status {
    margin-top: 5px;
    color: #4caf50;
  }
  
  .protection-card .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .scan-status {
    margin-top: 20px;
    font-size: 14px;
    padding: 15px;
  }
  
  .scan-status p {
    margin: 5px 0;
  
  }
  
  .scan-status p:first-child {
    color: #4caf50;
  }
  
  .scan-status p:last-child {
    color: #888;
  }
  

  .dashboard-link-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icons-container {
    display: flex;
    gap: 10px;
    margin-right: auto; /* Align the button to the right */
  }
  
  .dashboard-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
  }
  
  .block-button {
    padding: 5px 10px;
    border: none;
    background-color: #f00; /* Red color for the Block button */
    color: #fff;
    cursor: pointer;
  }
  .close-all-button{
    background-color: red;
    color: white;
    margin: 4px;
    padding: 6px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
  }
  