/* General Styles */
.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #e6f0ff;
    height: 100vh;
  }
  
  .payment-box {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  h1 {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Payment Option Styles */
  .payment-options {
    margin-bottom: 20px;
  }
  
  .option-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #141313;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
  }
  
  .option-box.active {
    border-color: #007bff;
  }
  
  .option-box input[type='radio'] {
    margin-right: 10px;
  }
  
  .card-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .card-details {
    display: flex;
    justify-content: space-between;
  }
  
  input[type='text'] {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  /* Order Summary Styles */
  .order-summary {
    text-align: center;
    margin-top: 20px;
  }
  
  .order-summary p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .order-summary span {
    font-weight: bold;
  }
  
  .confirm-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .confirm-button:hover {
    background-color: #0056b3;
  }
  
  /* Confirmation Message Styles */
  .confirmation-box {
    background-color: #007bff;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    color: white;
    text-align: center;
    width: 320px;
  }
  
  .confirmation-icon {
    font-size: 50px;
  }
  
  .confirmation-message h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .continue-button {
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .continue-button:hover {
    background-color: #e6f0ff;
  }
  
  
  @media (max-width: 768px) {
    .payment-container {
      flex-direction: column;
      padding: 10px;
      width: 75%;
      margin-left: 25%;
  }
  
    .payment-box, .confirmation-box {
      width: 100%;
    }
    .payment-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
      background-color: #e6f0ff;
      height: 100vh;
    }
  }
  