
.sidebar {
    width: 20%;
    background-color: #0a2a47;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: white;
   
}

/* .logo img {
    width: 40px;
    margin-bottom: 30px; */
/* } */

.menu-item {
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* cursor: pointer; */
}

.menu-item.active {
    background-color: #123456;
}

.menu-item .icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.menu-item .text {
    font-size: 15px;
}

.menu-item.notifications .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px;
    margin-left: 5px;
}

.btn{
    cursor: pointer;
}