
.sidebar {
    width: 12%;
    background-color: #0a2a47;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px 0;
    color: white;
    height: 120vh;
   
}

/* .logo img {
    width: 40px;
    margin-bottom: 30px; */
/* } */

.menu-item {
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

/* .menu-item {
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 75%;
} */

.menu-item.active {
    background-color: #123456;
}
.menu-item-.active {
    background-color: #123456;
}

.icon img{
    width: 29px;
    height: 29px;
    mix-blend-mode: color-burn;
}

.menu-item .icon {
    font-size: 32px;
    margin-bottom: 5px;
}
.menu-item- .icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.menu-item .text {
    font-size: 15px;
}

.menu-item.notifications .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px;
    margin-left: 5px;
}

.btn{
    cursor: pointer;
}

@media  (max-width: 600px) {
    .sidebar {
        width: 25%;
        background-color: #0a2a47;
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        color: white;
        position: fixed;
    }

}
/* @media (min-width: 769px) and (max-width: 1024px) {
    .sidebar {
        width: 25%;
        background-color: #0a2a47;
        height: 167%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        color: white;
        
    }
  } */

  @media (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        width: 12%;
        background-color: #0a2a47;
        height: 100vh;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 20px 0;
        color: white;
        height: 100%;
       
    }
    .menu-item {
        width: 100%;
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    
.menu-item.active {
    background-color: #123456;
}
.menu-item-.active {
    background-color: #123456;
}

.icon img{
    width: 29px;
    height: 29px;
    mix-blend-mode: color-burn;
}

.menu-item .icon {
    font-size: 32px;
    margin-bottom: 5px;
}
.menu-item- .icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.menu-item .text {
    font-size: 15px;
}

.menu-item.notifications .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px;
    margin-left: 5px;
}

.btn{
    cursor: pointer;
}
    
  }